// Colors --------------------------------------------------
$colors: (
  bg                  : #f5f8fa,
  bg-abs              : #000000,
  bg-abs-lighter      : lighten(#000000, 20%),
  bg-main             : #333333,
  bg-lighter          : lighten(#333333, 30%),
  bg-lightest         : lighten(#333333, 60%),
  text                : #444444,
  text-shadow1        : lighten(#444444, 40%),
  text-shadow2        : darken(#444444, 60%),
  text-alt            : lighten(#444444, 50%),
  menu-stop1          : #dbdada,
  menu-stop2          : darken(#dbdada, 20%),
  link                : #2c679b,
  link-hover          : lighten(#2c679b, 20%),
  link-active         : lighten(#2c679b, 40%),
  linkalt             : #00ced1,
  linkalt-hover       : lighten(#00ced1, 10%),
  linkalt-active      : lighten(#00ced1, 20%),
  accent              : #c61d23,

  napkin-stop1        : #f04d3f,
  napkin-stop2        : darken(#f04d3f, 10%),
  coaster-stop1       : #f5821f,
  coaster-stop2       : darken(#f5821f, 5%),
  stirpik-stop1       : #ffd64f,
  stirpik-stop2       : darken(#ffd64f, 5%),
  plate-stop1         : #5ba5a6,
  plate-stop2         : darken(#5ba5a6, 5%),
  cup-stop1           : #135d83,
  cup-stop2           : darken(#135d83, 5%),
  utensil-stop1       : #7f5785,
  utensil-stop2       : darken(#7f5785, 5%),

  digital             : #7e37d6,
  tradition           : #fcaf17,
  hispeed             : #74b44d,
);

// Gradients --------------------------------------------------
$gradients: (
  menu                : linear-gradient(map_get($colors, menu-stop1), map_get($colors, menu-stop2)),
  sidebar             : linear-gradient(to bottom, lighten(map_get($colors, bg-abs), 30%), lighten(map_get($colors, bg-abs), 10%)),
  accent-selected     : linear-gradient(to bottom, darken(map_get($colors, accent), 10%), darken(map_get($colors, accent), 20%)),
  accent              : linear-gradient(to bottom, darken(map_get($colors, accent), 20%), darken(map_get($colors, accent), 30%)),

  napkin              : linear-gradient(to bottom, map_get($colors, napkin-stop1), map_get($colors, napkin-stop2)),
  coaster             : linear-gradient(map_get($colors, coaster-stop1), map_get($colors, coaster-stop2)),
  stirpik             : linear-gradient(map_get($colors, stirpik-stop1), map_get($colors, stirpik-stop2)),
  plate               : linear-gradient(map_get($colors, plate-stop1), map_get($colors, plate-stop2)),
  cup                 : linear-gradient(map_get($colors, cup-stop1), map_get($colors, cup-stop2)),
  utensil             : linear-gradient(map_get($colors, utensil-stop1), map_get($colors, utensil-stop2)),

  digital             : linear-gradient(to bottom, darken(map_get($colors, digital), 20%), darken(map_get($colors, digital), 30%)),
  tradition           : linear-gradient(to bottom, darken(map_get($colors, tradition), 20%), darken(map_get($colors, tradition), 30%)),
  hispeed             : linear-gradient(to bottom, darken(map_get($colors, hispeed), 20%), darken(map_get($colors, hispeed), 30%)),
  digital-selected    : linear-gradient(to bottom, darken(map_get($colors, digital), 10%), darken(map_get($colors, digital), 20%)),
  tradition-selected  : linear-gradient(to bottom, darken(map_get($colors, tradition), 10%), darken(map_get($colors, tradition), 20%)),
  hispeed-selected    : linear-gradient(to bottom, darken(map_get($colors, hispeed), 10%), darken(map_get($colors, hispeed), 20%)),
);
