$color-bg-abs               : #000000;


// Images --------------------------------------------------
$bg-main                    : url("/images/background-planes-2800x1600.jpg");
$bg-hero                    : url("/images/hero-01.jpg");
$logo-main                  : url("/images/logo/acs-logo-2017-01.svg");
