$color-bg-abs               : #000000;
$color-menu-stop1           : #dbdada;
$color-menu-stop2           : darken($color-menu-stop1, 20%);


// Fonts --------------------------------------------------
$font-script                : "spumante", script;


// Images --------------------------------------------------
$bg-main                    : url("/images/background-planes-2800x1600.jpg");
$bg-hero                    : url("/images/hero-01.jpg");
$logo-main                  : url("/images/logo/acs-logo-2017-01.svg");
