// Header --------------------------------------------------
header a {
  display: none;
  max-width: 250px;

  @include media-breakpoint-up(sm) {
    display: block;
  } // media-breakpoint-up(sm)

} // header a


// Navbar --------------------------------------------------
/*
.navbar {
  background-color: $color-menu-stop1 !important;
  @include gradient-y($color-menu-stop1, $color-menu-stop2);
} // .navbar
*/

.navbar {
  margin-bottom: 2rem;
}

// Animate the dropdown menus.
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
} // .dropdown .dropdown-menu

.dropdown:hover .dropdown-menu {
  max-height: 1024px;
  opacity: 1;
} // .dropdown:hover .dropdown-menu


// Jumbotron --------------------------------------------------
#splash {

  //background-image: url('/storage/images/hero-01.jpg');
  overflow: hidden;

  h1 {
    position: absolute;
    left: 50%;
    top: 10%;
    font-family: $font-script;
    color: #FFFFFF;
    text-indent: 1em;

    @include media-breakpoint-up(xl) {
      font-size: 3.5em;
      text-shadow: 2px 2px 14px rgba($color-bg-abs, 0.50);
    } // media-breakpoint-up(xl)

  } // h1

} // #splash


// Main Content --------------------------------------------------
#main-content {
  background: $color-bg-lighter $grad-menu;

  @include media-breakpoint-down(sm) {
    @include invisible(hidden);
  } // media-breakpoint-down(md)

} // #main-content

.article {

  h2 {
    padding-top: 0.25em;
    border-top: $size-border solid $body-color;
    text-shadow: 0 -1px 0 lighten($color-text-shadow2, 40%), 0 1px 0 lighten($color-text-shadow1, 40%);
  } // h2

} // .article

.was-item {
  text-align: center;

  img {
    margin-bottom: 1em;
  } // img

  h4 {
    font-style: italic;
    font-weight: bold;
  } // h4

} // .was-item

.gallery-wrapper {
  margin: 0 -10px;

  &>div {
    padding: 0 10px;
  } // &>div

} // .gallery-wrapper

.product-cat {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: $spacer;
  overflow: hidden;
  text-align: center;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;

  @include media-breakpoint-down(lg) {
    font-size: 70%;
  }

  @include media-breakpoint-down(md) {
    font-size: 50%;
  }

  &:hover {
    text-decoration: none;
  } // :hover

  figure {
    display: flex;
    //justify-content: center;
    align-items: center;
    height: 170px;
    width: 90%;
    margin: 0 auto;
    //padding: 0.5em 0;

    img {
      //width: 100%;
    } // img

  } // figure

  /*
  .figure-caption {
    color: unset;
  } // .figure-caption
  */

  &#napkins {
    @include category-button($grad-napkin, $color-napkin-stop1, $color-napkin-stop2);
  } // #napkins
  &#coasters {
    @include category-button($grad-coaster, $color-coaster-stop1, $color-coaster-stop2);
  } // #coasters
  &#stirpiks {
    @include category-button($grad-stirpik, $color-stirpik-stop1, $color-stirpik-stop2);
  } // #stirpiks
  &#plates {
    @include category-button($grad-plate, $color-plate-stop1, $color-plate-stop2);
  } // #plates
  &#cups {
    @include category-button($grad-cup, $color-cup-stop1, $color-cup-stop2);
  } // #cups
  &#utensils {
    @include category-button($grad-utensil, $color-utensil-stop1, $color-utensil-stop2);
  } // #utensils

} // .product-cat


// Sidebar --------------------------------------------------
#sidebar {
  background: lighten($color-bg-abs, 30%) $grad-sidebar;
  color: $color-text-alt;

  a {
    color: $color-linkalt;
    font-style: italic;
    &:hover, &:focus {
      color: $color-linkalt-hover;
      text-decoration: none;
    } // :hover, :focus
    &:active {
      color: $color-linkalt-active;
    } // :active
  } // a

} // #sidebar

.feature {
  border: 4px double $color-text-alt;
  margin-bottom: $spacer;
  padding: $spacer * 0.50;

  h2, h3, h4 {
    font-family: $font-headings;
    font-weight: bold;
    border-bottom: $size-border solid $color-text-alt;
    text-shadow: 0 1px 0 $color-text-shadow1, 0 -1px 0 $color-text-shadow2;
  } // h2, h3, h4

  p, li {
    font-size: 0.75rem;
  } // p, li

} // .feature

#cat-cover {
  float: left;
  margin: 0.5em 0.5em 0 0;
  border: 5px solid $color-text;
  max-width: 50%;

  &:hover {
    border-color: lighten($color-text, 20%);
  } // :hover

} // #cat-cover
